<div class="max-w-3xl mx-auto px-4 py-8 flex flex-col gap-12">
  <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">Public Transit</h1>

  <section class="flex flex-col gap-6">
    <p class="text-lg text-gray-700 dark:text-gray-300"><a href="https://www.septa.org/" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300">SEPTA</a> is the primary public transit system in Philadelphia. SEPTA has three different transportation modes.</p>

    <div class="flex flex-col gap-4">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">Regional Rail</h2>
      <p class="text-gray-700 dark:text-gray-300">Regional Rail is useful for getting out to the suburbs. You probably won't use it during the conference unless you use it to get to and from the airport. The Airport line is very convenient for the conference hotel but it only runs once every 30 minutes.</p>
    </div>

    <div class="flex flex-col gap-4">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">Subway</h2>
      <p class="text-gray-700 dark:text-gray-300">There are two subway lines:</p>
      <ul class="list-disc pl-6 space-y-2 text-gray-700 dark:text-gray-300">
        <li>The Broad Street Line (aka the "orange" line) runs north-south along Broad street. This is useful for getting to the baseball stadium but you can also use it to get to the East Passyunk neighborhood.</li>
        <li>The Market-Frankford Line (aka the "blue" line) runs west to east along Market street and then north towards northeast Philadelphia. This is useful for getting to West Philly, Old City, Northern Liberties, and Fishtown.</li>
      </ul>
      <p class="text-gray-700 dark:text-gray-300">The subways come every 5 to 15 minutes depending on the time of day.</p>
    </div>

    <div class="flex flex-col gap-4">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">Buses</h2>
      <p class="text-gray-700 dark:text-gray-300">There are many bus routes throughout the city. Most routes run either north-south or east-west. You can get almost anywhere in the city by bus though it might take longer if you need to transfer to another bus. Busses come every 10 to 20 minutes depending on the time of day.</p>
    </div>

    <div class="flex flex-col gap-4">
      <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">Transit Apps</h2>
      <p class="text-gray-700 dark:text-gray-300">You can use Google Maps, the <a href="https://www.septa.org/" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300">SEPTA</a> app, or the <a href="https://transitapp.com/" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300">Transit app</a> to find the best way to get somewhere by public transit. I recommend the Transit app. The Transit app give you real time estimates and this is useful since the busses are often ahead or behind their schedule.</p>
    </div>
  </section>

  <section class="flex flex-col gap-6">
    <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">Other Transit Systems</h2>

    <div class="flex flex-col gap-4">
      <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">PATCO</h3>
      <p class="text-gray-700 dark:text-gray-300"><a href="https://www.ridepatco.org/" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300">PATCO</a> is the public transit system to go between Philadelphia and South New Jersey. You probably won't use it during the conference unless you want to go to a concert on the Camden Waterfront.</p>
    </div>

    <div class="flex flex-col gap-4">
      <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">NJ Transit</h3>
      <p class="text-gray-700 dark:text-gray-300"><a href="https://www.njtransit.com/" class="text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300">NJ Transit</a> is the public transit system to go around New Jersey but they also have stops in Philadelphia. You probably won't use it during the conference unless you want to go to the Jersey Shore but its probably better to rent a car if you want to do this.</p>
    </div>

    <div class="flex flex-col gap-4">
      <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-200">Amtrak</h3>
      <p class="text-gray-700 dark:text-gray-300">Amtrak can be used to go to New York City, Baltimore, and Washington D.C. There are many trains to NYC every day but it can get expensive if you don't book in advance.</p>
    </div>
  </section>

  <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">Cars</h1>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">Ridesharing</h2>
    <p class="text-gray-700 dark:text-gray-300">Uber and Lyft are available all throughout the city at any time of day.</p>
  </section>

  <section class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-200">Taxis</h2>
    <p class="text-gray-700 dark:text-gray-300">I don't often take taxis but they are also available throughout the city.</p>
  </section>

  <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">Airport Transportation</h1>

  <section class="flex flex-col gap-4">
    <p class="text-gray-700 dark:text-gray-300">Uber and Lyft are very convenient for getting to and from the airport. They pick you up right outside the baggage claim area. It's usually $30 to get to the conference hotel from the airport but it can get more expensive than that. Taxis are also available at the airport.</p>
  </section>

  <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">Walking</h1>

  <section class="flex flex-col gap-4">
    <p class="text-gray-700 dark:text-gray-300">The area around the conference is very walkable. Popular areas to walk around near the conference are Rittenhouse Square (10 minutes south of the conference), Old City (20 minutes east of the conference) and South Street (15 minutes south of the conference). You can also take a longer walk to East Passyunk, Northern Liberties, and Fishtown if want to get a lot of steps in.</p>
  </section>
</div>
